# Python artifacts
__pycache__/
*.py[cod]
*.pkl
*.h5
*.db
*.log

# Virtual environments
venv/
.env

# Logs & cache
logs/
evolutions/
signals/
*.pem
*.zip

# Streamlit
.streamlit/

# IDE / system
.DS_Store
.idea/
.vscode/